<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Second Chance Adoption</title>
        <link rel="stylesheet" href="Animal_Adoption.css">
        <script type="text/javascript" src="Animal_Adoption.js"></script>
    </head>
    <body>
        <%- include('header') %>
        <div id="content">
            Welcome to our adoption center's site. Here you will find all the information necessary to start the adoption process of a new furry friend.
        </div>
        <%- include('footer') %>
    </body>
</html>