<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Second Chance Adoption</title>
        <link rel="stylesheet" href="Animal_Adoption.css">
        <script type="text/javascript" src="Animal_Adoption.js"></script>
    </head>
    <body>
        <%- include('header') %>
        <div id="content">
            <div class="pets">
                <img class="pet_picture" src="cat1.jpg" alt="picture of cat 1">
                <ul>
                    <li>American Shorthair</li>
                    <li>0 to 5 years old</li>
                    <li>Male</li>
                    <li>Suitable for a family with small children: Yes</li>
                    <li>Goes along well with other cats: Unknown</li>
                    <li>Goes along well with other dogs: No</li>
                    <li>description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, in vero? Consequatur quas corporis alias vitae vero dolorum in veniam beatae error, consectetur quidem. Repudiandae, consequuntur officia? Officia, voluptatum dicta?</li>
                </ul>
            </div>
            <div class="pets">
                <img class="pet_picture" src="dog1.jpg" alt="picture of dog 1">
                <ul>
                    <li>Labrador Retriever</li>
                    <li>0 to 5 years old</li>
                    <li>Female</li>
                    <li>Suitable for a family with small children: Unknown</li>
                    <li>Goes along well with other cats: Yes</li>
                    <li>Goes along well with other dogs: Yes</li>
                    <li>description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, in vero? Consequatur quas corporis alias vitae vero dolorum in veniam beatae error, consectetur quidem. Repudiandae, consequuntur officia? Officia, voluptatum dicta?</li>
                </ul>
            </div>
        </div>
        <%- include('footer') %>
    </body>
</html>