<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Second Chance Adoption</title>
        <link rel="stylesheet" href="Animal_Adoption.css">
        <script type="text/javascript" src="Animal_Adoption.js"></script>
    </head>
    <body>
        <%- include('header') %>
        <div id="content">
            Hello!<br>
            My name is Alexandre Catellier and I am the creator of this site.<br>
            Here is some of my information you might find useful!
            <ul>
                <li>Student ID: 40281048</li>
                <li>Email: catellier.alexandre@gmail.com</li>
            </ul>
        </div>
        <%- include('footer') %>
    </body>
</html>