<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Second Chance Adoption</title>
        <link rel="stylesheet" href="Animal_Adoption.css">
        <script type="text/javascript" src="Animal_Adoption.js"></script>
    </head>
    <body>
        <%- include('header') %>
        <div id="content">
            We take upmost care of data that users post on this site so you can rest assured that your information will not be sold or misused.
            <br>It should also be noted that any incorrect information given by pet owners is not the center's responsibility.
        </div>
        <%- include('footer') %>
    </body>
</html>