<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Second Chance Adoption</title>
        <link rel="stylesheet" href="Animal_Adoption.css">
        <script type="text/javascript" src="Animal_Adoption.js"></script>
    </head>
    <body>
        <%- include('header') %>
        <div id="content">
            <a href="https://www.aspca.org/pet-care/dog-care/general-dog-care">Click here to read on how to take good care of a dog.</a>
            <p>Note that the link points to a site not authored by the owners of Second Chance Adoption</p>
        </div>
        <%- include('footer') %>
    </body>
</html>