<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Second Chance Adoption</title>
        <link rel="stylesheet" href="Animal_Adoption.css">
        <script type="text/javascript" src="Animal_Adoption.js"></script>
    </head>
    <body>
        <%- include('header') %>
        <div id="content">
            <form onsubmit="return validateFindCat()">
                <label for="cat_breed">What breed of cat are you looking for?</label>
                <select id="cat_breed" name="cat_breed">
                    <option>Does not matter</option>
                    <option>Siamese</option>
                    <option>Maine Coon</option>
                    <option>Persian</option>
                    <option>British Shorthair</option>
                    <option>Sphynx</option>
                    <option>American Shorthair</option>
                    <option>Cornish Rex</option>
                    <option>Devon Rex</option>
                    <option>Russian Blue</option>
                    <option>Oriental Shorthair</option>
                    <option>American Curl</option>
                    <option>Exotic Shorthair</option>
                </select><br><br>
                <label>What is the preferred age of the animal?</label>
                <input id="age_0_to_5" name="cat_age" type="radio">
                <label for="age_0_to_5">0 to 5 years old</label>
                <input id="age_6_to_10" name="cat_age" type="radio">
                <label for="age_6_to_10">6 to 10 years old</label>
                <input id="age_10_and_up" name="cat_age" type="radio">
                <label for="age_10_and_up">10 years old and up</label><br><br>
                <label>What is the preferred sex of the animal?</label>
                <input id="sex_male" name="cat_sex" type="radio">
                <label for="sex_male">Female</label>
                <input id="sex_female" name="cat_sex" type="radio">
                <label for="sex_female">Male</label>
                <input id="sex_does_not_matter" name="cat_sex" type="radio">
                <label for="sex_does_not_matter">Does not matter</label><br><br>
                <label for="temper">Does it need to get along well with other cats, dogs or children?</label>
                <input id="temper" name="cat_temper" type="checkbox"><br><br>
                <input type="submit" value="submit">
                <input type="reset" value="reset">
            </form>
        </div>
        <%- include('footer') %>
    </body>
</html>