<header>
    <table>
        <tr>
            <td><a href="/Animal_Adoption"><img src="cat.png" width="160" height="90" alt="Second_Chance_Adoption_Logo"></a></td>
            <td><h1>Second Chance Adoption</h1></td>
            <td id="time"></td>
            <td><a href="/Login">---Login---</a></td>
        </tr>
    </table>
</header>
<menu>
    <li><a href="/Animal_Adoption">Home Page</a></li>
    <li><a href="/Find_A_Cat">Find A Cat</a></li>
    <li><a href="/Find_A_Dog">Find A Dog</a></li>
    <li><a href="/Dog_Care">Dog Care</a></li>
    <li><a href="/Cat_Care">Cat Care</a></li>
    <li><a href="/Give_Away_Pet">Have A Pet to Give Away?</a></li>
    <li><a href="/Contact_Us">Contact Us</a></li>
    <li><a href="/Create_Account">Create Account</a></li>
    <li><a href="/Logout">Log Out</a></li>
</menu>