<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Second Chance Adoption</title>
        <link rel="stylesheet" href="Animal_Adoption.css">
        <script type="text/javascript" src="Animal_Adoption.js"></script>
    </head>
    <body>
        <%- include('header') %>
        <div id="content">
            <h3>Logging out</h3>
            <form action="/Logout" method="post">
                <input type="submit" value="Continue">
            </form>
        </div>
        <%- include('footer') %>
    </body>
</html>